# API
VITE_API_BASE_URL=https://service-dev.meetchances.com/api/v1

# Auth
VITE_AUTH_LOGIN_URL=https://accounts.example.com/login
VITE_AUTH_LOGOUT_URL=https://accounts.example.com/logout
VITE_INVITE_REDIRECT_URL="https://meetchances-talent-boe.authing.cn/oidc/auth?client_id=68a80c45ea682857b1f54cdc&redirect_uri=https://service-dev.meetchances.com/api/v1/talent/login-callback&response_type=code&scope=openid+profile+email+phone+address+username+offline_access&state=redirect_uri=https://talent.meetchances.com/interview/prepare?job_id=123&invite_token=xxx"

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxx

# Mocks
VITE_MOCK_JOB_PROGRESS=1

# APM (Volcengine)
VITE_APM_APP_ID=1000888
VITE_APM_APP_TOKEN=
VITE_APP_ENV=dev # dev/test/prod

# IM (Volcengine)
VITE_IM_APP_ID=your_im_app_id

