# API
VITE_API_BASE_URL=https://service-dev.meetchances.com/api/v1

# Auth
VITE_AUTH_LOGIN_URL=https://accounts.example.com/login
VITE_AUTH_LOGOUT_URL=https://accounts.example.com/logout

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxx

